<!DOCTYPE html>
<html ng-app="tuatara">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/playbook/0">Playbook</a></li>
                    <li><a href="/#/projects">Projects</a></li>
                    <li><a href="/#/resources">Resources</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">

        <ng-view></ng-view>

    </div>

    <script src="~/app/lib.js"></script>

    <script src="~/app/core/core-services.js"></script>
    <script src="~/app/modules.js"></script>
    <script src="~/app/tuatara.js"></script>

    <script src="~/app/playbook/pb-filters/pb-filters.js"></script>
    <script src="~/app/playbook/pb-row/pb-row.js"></script>
    <script src="~/app/playbook/pb-roweditor/pb-roweditor.js"></script>
    <script src="~/app/playbook/pb-totals/pb-totals.js"></script>
    <script src="~/app/playbook/pb-wizard/pb-wizard.js"></script>
    <script src="~/app/playbook/playbook-service.js"></script>
    <script src="~/app/playbook/pb-list.js"></script>

    <script src="~/app/projects/projects-list.component.js"></script>
    <script src="~/app/projects/projects-row.controller.js"></script>

    <script src="~/app/workforce/workforce-list.component.js"></script>
    <script src="~/app/workforce/workforce-row.controller.js"></script>
</body>
</html>
