<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit row:</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-horizontal">
        <p>{{ editor.project }}</p>

        <div class="form-group">
            <input type="text" 
                   ng-model="editor.project" 
                   placeholder="Start typing project or client name"                    
                   uib-typeahead="project.projectName for project in editor.getProjects($viewValue)" 
                   typeahead-loading="loadingLocations" 
                   typeahead-no-results="noResults" 
                   class="form-control">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="editor.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="editor.cancel()">Cancel</button>
</div>