<td>
    <!-- id: {{ $index }} -->
    <input type="checkbox" name="sel" value="{{rowData.id}}" ng-model="r.selected" />
    <a class="edit-icon hidden-sm hidden-xs" ng-click="r.openRowEditor();"><span class="glyphicon glyphicon-pencil"></span></a>
    {{ rowData.projectName}} 
</td>
<td>{{ rowData.description }}</td>
<td class="col-priority center">{{ rowData.priorityName }}</td>
<td class="center">{{ rowData.statusName }}</td>
<td class="center">{{ rowData.intraweekName }}</td>
<td class="center">{{ rowData.resourceName }}</td>
<td class="center">{{ rowData.duration }}</td>
