@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section menu {
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
    <li><a href="~/home/requests">Requests</a></li>
    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
</ul>
}