
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <div class="page-header">
            <h2>Projects and products</h2>
        </div>


        <projects-list></projects-list>
    </div>
</div>


@section scripts {
}
