
@{
    ViewBag.Title = "WorkItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container">

        <div class="page-header">
            <h2>Projects and products</h2>
        </div>


        <editor-wi></editor-wi>
    </div>
</div>


@section scripts {
}
