body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
} */

input[type=text].invalid-input {
    color: red;
    background: url(/content/img/error.png) no-repeat right 5px center;
}

input[type=text].loading {
    background: url(/content/img/spinner.gif) no-repeat right 5px center;
}

/* typeahead classes */
.noResultsTypeAhead {}
.loadingTypeAhead { cursor: wait; opacity: 0.5; }

/* sorted columns designators */
.sorted:after { content: '\25b2'; }
.sorted.za:after {  content: '\25bc'; }

.center {vertical-align: middle; text-align: center; }

.table-no-data { height: 50px; font-style: italic; }

table.playbook-table > tbody > tr > td { 
    padding: 3px;
    border-top-color: #999;
}
table.playbook-table > tbody > tr.highlighted-row { border: 2px solid #009900 !important; }

.edit-icon { text-decoration: none; color: inherit; margin-right: 0.8em; cursor: pointer; }
.delete-icon { text-decoration: none; color: red; margin-right: 0.8em; cursor: pointer; }

/* playbook highlights */
.prio-holiday { background-color: rgba(255, 0, 255, 0.16); }
.prio-holiday.active, .prio-holiday td.col-priority  { background-color: fuchsia; }
.prio-amber { background-color: #fcf8e3; } 
.prio-amber.active, .prio-amber td.col-priority  { background-color: yellow; }
.prio-red { background-color: #f2dede; }
.prio-red.active, .prio-red td.col-priority { background-color: rgba(245, 0, 0, 0.4); }
.prio-bau { background-color: #d9edf7; }
.prio-bau.active, .prio-bau td.col-priority  { background-color:  rgba(151, 151, 249, 0.44); }

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}