<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Project or product:</h3>
</div>
<div class="modal-body" id="modal-body">
    <input type="hidden" ng-model="r.id" />
    <div ng-show="r.error" class="bs-callout bs-callout-danger"><h4>Validation error</h4><p>{{r.error}}</p></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="rowedit-description" class="control-label col-sm-2">Name:</label>
            <div class="col-sm-9">
                <input type="text"
                       ng-model="r.name"
                       placeholder="Add details on what needs to be done"
                       class="form-control"
                       id="rowwi-projectname" />
            </div>
        </div>

        <div class="form-group">
            <label for="rowedit-project" class="control-label col-sm-2">Parent:</label>
            <div class="col-sm-9">
                <input type="text"
                       ng-model="r.parent"
                       placeholder="Start typing project or client name"
                       uib-typeahead="project as project.name for project in r.getProjects($viewValue)"
                       typeahead-editable="false"
                       typeahead-loading="loadingTypeAhead"
                       typeahead-no-results="noResultsTypeAhead"
                       ng-class="{'invalid-input': noResultsTypeAhead, 'loading': loadingTypeAhead}"
                       class="form-control"
                       id="rowwi-parent">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="r.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="r.cancel()">Cancel</button>
</div>
